<h1> New Party </h1>

<%= form_for @party do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %>

    <%= f.date_field :date %><br>

    <%= f.label :category %>
    <%= f.text_field :category_name %>

    <%= f.radio_button :private, true %>
    <%= f.label :private %><br>
    <%= f.radio_button :private, false %>
    <%= f.label :public %><br>

    <%= f.submit %>
<% end %>
